/*-------- basics styles start --------*/

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.font_open-sans {
  font-family: 'Open Sans', sans-serif;
}

.block {
  max-width: 1170px;
  margin: auto;
}

.btn {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  letter-spacing: 1.2px;
  font-variant: small-caps;
  border: none;
}

.btn:hover {
  background-color: #3f4ed7;
}

.btn_style {
  width: 170px;
  height: 45px;
  box-shadow: 0 17px 24px rgba(48, 63, 159, 0.2);
  border-radius: 22px;
  background-color: #303f9f;
}

.uppercase {
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*-------- basics styles end --------*/

/*-------- section-top styles start --------*/

.section-top {
  background: url(images/Layer66.jpg);
  min-height: 800px;
  color: #fff;
}

.section-top__wrapper {
  min-height: inherit;
  max-width: inherit;
  background-color: rgba(33, 33, 33, 0.87);
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: block;
  font-size: 24px;
  letter-spacing: 1.92px;
  font-weight: 700;
  padding-top: 24px;
}

.main-menu {
  font-size: 14px;
  letter-spacing: 0.7px;
  font-weight: 700;
  display: flex;
}

.main-menu__item {
  padding: 30px 0 25px 26px;
}

.main-menu__item:hover {
  color: #ff4081;
}

.main-menu__item:first-child {
  padding-left: 13px;
}

.main-menu__item_selected {
  border-bottom: 4px solid #ff4081;
}

.main-menu__link {
  padding-right: 10px;
}

.section-top__inner {
  text-align: center;
  padding-top: 214px;
}

.subtitle {
  opacity: 0.7;
  font-size: 28px;
  letter-spacing: 1.4px;
  font-variant: small-caps;
  font-weight: 400;
}

.title {
  padding-top: 50px;
  font-size: 42px;
  letter-spacing: 2.1px;
}

.btn-read-more {
  margin-top: 98px;
}

/*-------- section-top styles end --------*/

/*-------- main-content styles start --------*/
/*-------- all-articles styles start --------*/

.main-content {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.87);
  padding-top: 91px;
}

.main-content__wrapper {
  display: flex;
  justify-content: space-between;
}

.all-articles {
  max-width: 820px;
}

.main-article, .article {
  background-color: #fff;
}

.main-article__title {
  font-size: 18px;
  letter-spacing: 0.9px;
  padding-top: 18px;
  padding-left: 20px;
}

.main-article__text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
  padding: 13px 36px 16px 19px;
  line-height: 26px;
}

.article__image-wrapper {
  position: relative;
  color: #fff;
}

.block-icons_on-picture {
  position: absolute;
  bottom: 18px;
  right: 0;
}

.block-icons_on-picture span {
  font-size: 12px;
  letter-spacing: 0.6px;
  padding-right: 20px;
  padding-left: 5px;
}

.article__author {
  padding: 19px 10px 21px 20px;
  position: relative;
}

.author-avatar {
  float: left;
  padding-right: 10px;
}

.author-name {
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.7px;
}

.article__date {
  color: rgba(33, 33, 33, 0.54);
  font-size: 12px;
  line-height: 27px;
  letter-spacing: 0.6px;
}

.icon-more {
  font-size: 16px;
  position: absolute;
  right: 21px;
  bottom: 39px;
}

.secondary-articles {
  margin-top: 88px;
  display: flex;
}

.article {
  max-width: 260px;
}

.article-center {
  margin: 0 20px;
}

.label_on-picture {
  font-size: 16px;
  font-variant: small-caps;
  letter-spacing: 0.8px;
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.icon_on-picture {
  position: absolute;
  top: 60px;
  left: 110px;
}

.icon-slider {
  width: 36px;
  height: 36px;
  background-color: #fff;
  color: #3f51b5;
  position: absolute;
}

.icon-slider_left {
  top: 59px;
  left: 10px;
}

.icon-slider_left a {
  line-height: 36px;
  width: 100%;
  text-align: center;
}

.icon-slider_right {
  top: 59px;
  right: 10px;
}

.icon-slider_right a {
  line-height: 36px;
  width: 100%;
  text-align: center;
}

.article__title {
  font-size: 14px;
  line-height: 24px;
  padding: 17px 23px 0 21px;
}

.article__text {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.56px;
  padding: 18px 23px 30px 19px;
}

.secondary-articles__icon-more {
  right: 20px;
  bottom: 27px;
}

.view-more {
  padding: 78px 0 69px;
  text-align: right;
}

.view-more__link {
  color: #303f9f;
  font-size: 16px;
  letter-spacing: 0.8px;
}

.view-more__button {
  width: 42px;
  height: 42px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  border-radius: 50%;
  border: none;
}

.view-more__button a {
  color: #3f51b5;
  font-size: 16px;
}

/*-------- all-articles styles end --------*/
/*-------- sidebar styles start --------*/

.sidebar {
  background-color: #fff;
  width: 330px;
  padding: 0 30px;
}

.sidebar__title {
  color: #3f51b5;
  font-size: 18px;
  letter-spacing: 1.15px;
  padding: 36px 0 10px;
  border-bottom: 1px solid rgba(41, 98, 255, 0.38);
}

.sidebar-menu__item {
  font-size: 14px;
  letter-spacing: 0.56px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.sidebar-menu__item:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}

.sidebar-menu__item span {
  font-weight: 700;
}

.sidebar-form {
  padding-bottom: 10px;
}

.sidebar-form__item {
  font-size: 16px;
  letter-spacing: 0.8px;
}

.sidebar-form__label {
  display: block;
  padding: 16px 0 15px;
}

.sidebar-form__field {
  color: rgba(0, 0, 0, 0.38);
  min-width: 251px;
  height: 45px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 17px;
}

.sidebar__btn-subscribe {
  width: 270px;
  height: 45px;
  border-radius: 4px;
  background-color: #3f51b5;
}

.social-links__title-wrap {
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.social-links__title {
  font-size: 16px;
  letter-spacing: 0.8px;
  padding: 0 7px;
}

.social-links__icons-list {
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
}

.social-links__item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.social-links__link {
  color: #fff;
  text-align: center;
  line-height: 36px;
  width: 36px;
}

.social-links__item_fb {
  background-color: #3b5999;
}

.social-links__item_twitter {
  background-color: #55acee;
}

.social-links__item_vk {
  background-color: #4c75a3;
}

.social-links__item_pinterest {
  background-color: #ff2e56;
}

.social-links__item_tumblr {
  background-color: #34465d;
}

.social-links__item_dribbble {
  background-color: #ea4c89;
}

/*-------- sidebar styles end --------*/
/*-------- main-content styles end --------*/

/*-------- gallery styles start --------*/

.gallery {
  display: flex;
  justify-content: center;
}

.gallery_image {
  max-width: 240px;
}

/*-------- gallery styles end --------*/

/*-------- subscribe-section styles start --------*/

.subscribe-section {
  background-color: rgb(33, 33, 33);
}

.subscribe-section__wrapper {
  background: url(images/Layer60.png);
  min-height: 100%;
  max-width: 100%;
}

.subscribe-section__inner {
  padding: 77px 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.subscribe-section__label {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 2.1px;
}

.subscribe-section__field {
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.54);
  font-size: 16px;
  letter-spacing: 0.8px;
  width: 270px;
  height: 45px;
  border-radius: 22px;
  border: 1px solid #ffffff;
  background-color: rgba(48, 48, 48, 0.38);
}

/*-------- subscribe-section styles end --------*/

/*-------- footer styles start --------*/

.footer {
  background-color: #303030;
  color: #fff;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-menu {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
  padding: 35px 0;
}

.footer-menu__item {
  padding: 0 20px;
}

.footer-menu__item:first-child {
  padding-left: 0;
}

.footer-menu__link:hover,
.change-language__link:hover {
  color: #4d6185;
}

.change-language {
  opacity: 0.5;
  display: flex;
  align-items: center;
}

.change-language__icon {
  width: 16px;
  height: 16px;
}

.change-language__link {
  font-size: 16px;
  font-variant: small-caps;
  letter-spacing: 0.8px;
  padding: 0 5px;
}

.change-language i {
  font-size: 12px;
}

/*-------- footer styles end --------*/