/*-------- basics styles start --------*/

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.font_open-sans {
  font-family: 'Open Sans', sans-serif;
}

.block {
  max-width: 1170px;
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}

.small-caps {
  font-variant: small-caps;
}

.btn {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  letter-spacing: 1.2px;
  border: none;
  line-height: 38px;
  display: block;
}

.btn:hover {
  background-color: #3f4ed7;
}

.btn_style {
  width: 170px;
  height: 45px;
  box-shadow: 0 17px 24px rgba(48, 63, 159, 0.2);
  border-radius: 22px;
  background-color: #303f9f;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*-------- basics styles end --------*/

/*-------- section-top styles start --------*/

.section-top {
  background: url(../images/Layer66.jpg);
  background-position-x: -3px;
  background-position-y: 42px;
  color: #fff;
}

.section-top__wrapper {
  min-height: inherit;
  max-width: inherit;
  background-color: rgba(33, 33, 33, 0.87);
  position: relative;
}

.keyboard-arrow {
  font-size: 22px;
  position: absolute;
  top: 413px;
}

.keyboard-arrow:hover {
  color: #ff4081;
}

.keyboard-arrow_left {
  left: 42px;
}

.keyboard-arrow_right {
  right: 41px;
}

.top-menu {
  background-color: #191919;
}

.top-menu__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-menu_right-section {
  display: flex;
}

.social-icons {
  display: flex;
}

.social-icons__item {
  padding: 12px 0;
  color: rgba(255, 255, 255, 0.38);
  letter-spacing: 15px;
}

.social-icons__item:hover,
.sign-in:hover {
  color: rgb(255, 255, 255);
}

.sign-in {
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.8px;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid rgba(180, 180, 180, 0.39);
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  padding-top: 24px;
}

.main-menu {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  display: flex;
}

.main-menu__item {
  padding: 27px 0 26px 21px;
}

.main-menu__item:hover {
  color: #ff4081;
}

.main-menu__item:first-child {
  margin-left: 57px;
}

.main-menu__item_selected {
  border-bottom: 4px solid #ff4081;
}

.main-menu__link {
  padding-right: 5px;
}

.header-actions {
  display: flex;
  align-items: center;
}

.header-actions__item {
  padding: 0 14px;
  border-right: 1px solid rgba(180, 180, 180, 0.3);
}

.header-actions__item:last-child {
  border-right: none;
}

.section-top__inner {
  text-align: center;
  padding-top: 206px;
}

.subtitle {
  opacity: 0.7;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1.3px;
}

.title {
  font-size: 42px;
  letter-spacing: 1.1px;
  padding-top: 16px;
  line-height: 49px;
}

.btn-read-more {
  margin: 34px auto 80px;
}

.author-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  margin: 14px auto 12px;
}

.author__date {
  color: rgba(255, 255, 255, 0.55);
  font-size: 12px;
  letter-spacing: 0.6px;
  margin-bottom: 33px;
}

.social-info {
  padding-bottom: 68px;
}

.comments {
  margin-right: 30px;
}

.comments,
.likes {
  display: inline-block;
  color: rgba(255, 255, 255, 0.71);
  font-size: 12px;
  letter-spacing: 0.6px;
}

/*-------- section-top styles end --------*/

/*-------- main-content styles start --------*/
/*-------- all-articles styles start --------*/

.main-content {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.87);
}

.sort {
  background-color: #fff;
  font-size: 16px;
  letter-spacing: 0.8px;
  box-shadow: 0 1px 0 #dddddd;
}

.sort__title {
  font-size: 16px;
  float: left;
  line-height: 60px;
}

.sort__item {
  background-color: #f5f5f5;
  border-radius: 15px;
  display: inline-block;
  padding: 5px 27px 7px;
  margin: 15px 14px 15px -5px;
}

.sort__item:hover {
  color: #3f51b5;
}

.sort__item_selected {
  color: #3f51b5;
  border: 1px solid #3f51b5;
  background-color: #fff;
  margin: 15px;
}

.main-content__wrapper {
  padding-top: 29px;
  display: flex;
}

.all-articles {
  max-width: 820px;
  margin-right: 40px;
}

.main-article,
.popular-article,
.article,
.left-article,
.right-article {
  background-color: #fff;
}

.main-article__title {
  font-size: 17px;
  letter-spacing: 1px;
  padding-top: 15px;
  padding-left: 20px;
}

.main-article__title:hover {
  text-decoration: underline;
}

.main-article__text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
  line-height: 26px;
  padding: 8px 36px 13px 19px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.article__image-wrapper {
  position: relative;
  color: #fff;
}

.block-icons_on-picture {
  position: absolute;
  bottom: 18px;
  right: 0;
}

.block-icons_on-picture span {
  font-size: 12px;
  padding-right: 20px;
  padding-left: 2px;
}

.article__author {
  padding: 19px 10px 21px 20px;
  position: relative;
}

.author-avatar {
  float: left;
  padding-right: 10px;
}

.author-name {
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.7px;
}

.article__date {
  color: rgba(33, 33, 33, 0.54);
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.6px;
}

.icon-more {
  font-size: 16px;
  position: absolute;
  right: 21px;
  bottom: 39px;
}

.popular-article {
  margin-top: 18px;
}

.popular-article:first-child {
  margin-top: 21px;
}

.popular-article .article__image-wrapper {
  float: left;
  margin-right: 20px;
}

.popular-article .article__title {
  letter-spacing: 0.4px;
}

.popular-article .article__text {
  font-size: 14px;
  padding: 6px 0 15px;
}

.popular-article .article__author {
  padding: 11px 0 0 0;
}

.popular-article__icon-more {
  right: 19px;
  bottom: 29px;
}

.secondary-articles {
  margin-top: 18px;
  display: flex;
}

.article {
  max-width: 260px;
}

.article-center {
  margin: 0 20px;
}

.label_on-picture {
  font-size: 16px;
  letter-spacing: 0.8px;
  position: absolute;
  bottom: 19px;
  left: 19px;
}

.icon_on-picture {
  background: url(../images/icons/play.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.icon_on-picture:hover {
  width: 44px;
  height: 44px;
  margin-top: -22px;
  margin-left: -22px;
  transition: 0.3s;
}

.main-article .icon_on-picture {
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
}

.main-article .icon_on-picture:hover {
  width: 56px;
  height: 56px;
  margin-top: -28px;
  margin-left: -28px;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.35);
  opacity: 0;
  transition: 0.6s;
}

.shadow:hover {
  opacity: 1;
}

.icon-slider {
  width: 36px;
  height: 36px;
  background-color: #fff;
  color: #3f51b5;
  position: absolute;
}

.icon-slider:hover {
  color: #f1475f;
  transition: 0.3s;
}

.icon-slider_left {
  top: 59px;
  left: 10px;
}

.icon-slider_left a {
  line-height: 36px;
  width: 100%;
  text-align: center;
}

.icon-slider_right {
  top: 59px;
  right: 10px;
}

.icon-slider_right a {
  line-height: 36px;
  width: 100%;
  text-align: center;
}

.article__title {
  font-size: 14px;
  line-height: 24px;
  padding: 8px 23px 0 21px;
}

.popular-articles .article__title {
  font-size: 16px;
}

.article__title:hover,
.some-article__title:hover {
  text-decoration: underline;
}

.article__text {
  font-size: 13.5px;
  line-height: 21px;
  letter-spacing: 0.56px;
  padding: 17px 23px 23px 19px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.textbox {
  margin-top: -30px;
}

.textbox:before {
  content: "";
  display: block;
  height: 20px;
  width: 46px;
  position: relative;
  top: 80px;
  left: 166px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.77) 6%)
}

.secondary-articles__icon-more {
  right: 19px;
  bottom: 31px;
}

.some-article {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
}

.left-article,
.right-article {
  width: 400px;
}

.some-article__title {
  font-size: 18px;
  letter-spacing: 0.6px;
  padding: 14px 0 13px 20px;
}

.right-article .some-article__title {
  color: #3f51b5;
}

.some-article__text {
  font-size: 16px;
  line-height: 26px;
  padding: 4px 23px 11px 19px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.some-article .textbox:before {
  width: 94px;
  top: 103px;
  left: 237px;
}

.some-article__icon-more {
  right: 19px;
  bottom: 41px;
}

.view-more {
  padding: 34px 0 44px;
  text-align: right;
}

.view-more__link {
  color: #303f9f;
  letter-spacing: 1.8px;
}

.view-more__link:hover {
  text-decoration: underline;
}

.view-more__button {
  width: 42px;
  height: 42px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  border-radius: 50%;
  border: none;
  color: #3f51b5;
  text-align: center;
  line-height: 42px;
}

.view-more__button:hover {
  color: #a454b5;
}

/*-------- all-articles styles end --------*/
/*-------- sidebar styles start --------*/

.sidebar {
  background-color: #fff;
  width: 310px;
  padding-left: 40px;
  position: relative;
}

.sidebar:after {
  content: '';
  background: #fff;
  width: 376px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 310px;
}

.search-form {
  margin-top: 23px;
  position: relative;
}

.search-field {
  width: 270px;
  height: 45px;
  border-radius: 22px;
  border: 1px solid #ffffff;
  background-color: #f5f5f5;
  padding-left: 20px;
}

.search-field::placeholder {
  color: rgba(0, 0, 0, 0.38);
  font-size: 16px;
  letter-spacing: 0.64px;
}

.search-button {
  background: #ff4081 url("../images/icons/search_ico.png") no-repeat center;
  width: 35px;
  height: 35px;
  border: none;
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 5px;
}

.sidebar__title {
  color: #3f51b5;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 28px 0 9px;
  border-bottom: 1px solid rgba(41, 98, 255, 0.38);
}

.sidebar-menu {
  padding-bottom: 9px;
}

.sidebar-menu__item {
  font-size: 14px;
  letter-spacing: 0.56px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 11px 0 14px 0;
  display: flex;
  justify-content: space-between;
}

.sidebar-menu__item:hover {
  text-decoration: underline;
}

.sidebar-menu__item:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}

.sidebar-menu__item span {
  font-weight: 700;
}

.sidebar-form {
  padding-bottom: 7px;
}

.sidebar-form__item {
  font-size: 16px;
  letter-spacing: 0.8px;
}

.sidebar-form__label {
  display: block;
  padding: 13px 0 11px;
}

.sidebar-form__field {
  width: 251px;
  height: 45px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 17px;
  letter-spacing: 2.2px;
}

.sidebar__btn-subscribe {
  width: 270px;
  height: 45px;
  border-radius: 4px;
  background-color: #3f51b5;
  letter-spacing: 0;
}

.social-links {
  margin-bottom: 20px;
}

.social-links__title {
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0.8px;
  text-align: center;
  position: relative;
}

.social-links__title:before,
.social-links__title:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.54);
  width: 120px;
  height: 1px;
  display: block;
  position: absolute;
}

.social-links__title:before {
  top: 50%;
  left: 0;
}

.social-links__title:after {
  top: 50%;
  right: 0;
}

.social-links__icons-list {
  display: flex;
  justify-content: space-between;
}

.social-links__item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.social-links__link {
  color: #fff;
  text-align: center;
  line-height: 36px;
  width: 36px;
}

.social-links__item_fb {
  background-color: #3b5999;
}

.social-links__item_twitter {
  background-color: #55acee;
}

.social-links__item_vk {
  background-color: #4c75a3;
}

.social-links__item_pinterest {
  background-color: #ff2e56;
}

.social-links__item_tumblr {
  background-color: #34465d;
}

.social-links__item_dribbble {
  background-color: #ea4c89;
}

.post-widget {
  margin-bottom: 4px;
}

.post-widget__btn {
  color: #3f51b5;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  width: 135px;
  height: 40px;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  border: 1px solid #3f51b5;
  margin: 17px 0 5px;
}

.post-widget__btn_selected {
  color: #fff;
  border-radius: 4px 0 0 4px;
  background-color: #3f51b5;
  float: left;
}

.post {
  padding: 15px 0 37px;
  border-bottom: 1px solid #dee5e9;
  position: relative;
}

.post:last-child {
  border-bottom: none;
}

.post__img {
  float: left;
  margin-right: 14px;
}

.post__date {
  font-size: 12px;
}

.post__title {
  font-size: 14px;
  letter-spacing: 0.56px;
  line-height: 23px;
}

.post__icon {
  position: absolute;
  top: 13px;
  right: 0;
}

.tags {
  margin-top: 10px;
}

.tags__item {
  font-size: 14px;
  letter-spacing: 0.56px;
  border-radius: 4px;
  background-color: #eeeeee;
  margin: 10px 10px 0 0;
  padding: 7px 15px;
  display: inline-block;
}

/*-------- sidebar styles end --------*/
/*-------- main-content styles end --------*/

/*-------- gallery styles start --------*/

.gallery {
  display: flex;
  overflow: hidden;
}

/*-------- gallery styles end --------*/

/*-------- footer styles start --------*/

.subscribe-section {
  background-color: rgb(33, 33, 33);
}

.subscribe-section__wrapper {
  background: url(../images/Layer60.png);
  height: 200px;
  max-width: 100%;
}

.subscribe-section__inner {
  padding: 75px 0 72px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.subscribe-section__label {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1.9px;
}

.subscribe-section__field {
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.54);
  font-size: 16px;
  letter-spacing: 0.8px;
  width: 250px;
  height: 45px;
  border-radius: 22px;
  border: 1px solid #ffffff;
  background-color: rgba(48, 48, 48, 0.38);
  margin-left: 10px;
}

.widgets {
  background-color: #212121;
}

.widget {
  width: 270px;
  padding-top: 48px;
  padding-bottom: 66px;
  margin-right: 30px;
  float: left;
}

.widget:last-child {
  margin-right: 0;
}

.widget__title {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 27px;
}

.widget__text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.widget__subtext {
  color: rgba(255, 255, 255, 0.51);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
}

.pages-widget__item {
  height: 45px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.38);
  margin-bottom: 5px;
  line-height: 45px;
  padding-left: 16px;
  position: relative;
}

.pages-widget__item:hover {
  background-color: rgba(255, 255, 255, 0.38);
}

.pages-widget__item:hover .pages-widget__submenu {
  background-color: #212121;
}

.pages-widget__item i {
  position: absolute;
  top: 15px;
  right: 15px;
}

.submenu {
  position: relative;
  height: 170px;
}

.pages-widget__submenu {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 123px;
  border-top: 1px solid rgba(255, 255, 255, 0.38);
}

.submenu__item {
  line-height: 14px;
  text-transform: none;
  padding: 15px 0 6px 13px;
}

.submenu__item:hover,
.twitter-widget__title:hover {
  text-decoration: underline;
}

.twitter-widget__menu {
  margin-bottom: 20px;
}

.twitter-widget__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  padding-bottom: 13px;
  margin-top: 15px;
}

.twitter-widget__item:last-child {
  border-bottom: none;
}

.twitter-widget__img {
  color: #55acee;
  font-size: 20px;
  float: left;
  margin-left: 10px;
}

.twitter-widget__title {
  font-weight: 400;
  margin: 0 0 15px 47px;
  line-height: 16px;
}

.twitter-widget__links {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
}

.twitter-widget__link {
  padding-right: 8px;
}

.twitter-widget__link:hover {
  color: #fff;
}

.twitter-widget__link:not(:first-child) {
  text-decoration: underline;
}

.social-widget__title {
  margin-bottom: 19px;
}

.flickr-widget {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flickr-widget__link {
  margin-bottom: 9px;
}

.flickr-widget__link:hover {
  opacity: 0.6;
}

.flickr-widget__img {
  vertical-align: bottom;
}

.widget-form__field {
  width: 252px;
  height: 37px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.38);
  background: transparent;
  padding-left: 16px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.widget-form__field::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  letter-spacing: 0.7px;
}

.widget-form__field-message {
  width: 250px;
  height: 100px;
  padding-top: 15px;
}

.widget-form__btn {
  font-family: 'Montserrat', sans-serif;
  width: 270px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #303030;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 1.7px;
}

.footer-navigation {
  background-color: #303030;
  color: #fff;
}

.footer-navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-menu {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
  padding: 38px 0;
}

.footer-menu__item {
  padding: 0 19px;
}

.footer-menu__item:first-child {
  padding-left: 0;
}

.footer-menu__link:hover {
  color: #4d6185;
}

.change-language {
  opacity: 0.5;
  display: flex;
  align-items: center;
}

.change-language__icon {
  width: 16px;
  height: 16px;
}

.change-language__link {
  font-size: 16px;
  letter-spacing: 0.8px;
  padding: 0 5px;
}

.change-language__link:hover {
  text-decoration: underline;
}

.change-language i {
  font-size: 12px;
}

/*-------- footer styles end --------*/