.align-center {
  text-align: center;
}

.collapse {
  border-collapse: collapse;
}

table,
td,
th {
  border: 1px solid #000;
}

.table-1 td {
  width: 30px;
  height: 30px;
}

.table-2 {
  width: 1000px;
}

.table-2 td,
.table-3 td {
  padding: 3px;
}

.table-3 {
  width: 580px;
  margin-top: 20px;
}

.table-3 td:first-child {
  font-weight: bold;
}

.table-4 {
  width: 250px;
  margin-top: 20px;
}

.table-4 td {
  padding: 5px;
}