h1,
h2 {
    text-align: center;
}

ol {
    margin: 0;
    padding: 0;
}

ol > li {
    margin: 20px 0;
}

li {
    list-style: none;
}

.text-top {
    display: inline-block;
    vertical-align: text-top;
    padding-left: 5px;
}