/*-------- basics styles start --------*/

body {
  font-family: 'Raleway', sans-serif;
}

img {
  vertical-align: bottom;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}

.font_open-sans {
  font-family: 'Open Sans', sans-serif;
}

/*-------- basics styles end --------*/

/*-------- header styles start --------*/

.header {
  position: absolute;
  width: 100%;
}

.header__nav {
  color: #f9fafe;
  padding-top: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-menu__item {
  display: inline-block;
}

.main-menu__link {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
  padding: 14px 39px;
  display: block;
}

.main-menu__link:hover {
  color: #e7434e;
}

.sign-up {
  border-radius: 5px;
  border: 1px solid #f9fafe;
}

/*-------- header styles end --------*/

/*-------- top-section styles start --------*/

.top-section {
  background: url("../images/background_photo1.jpg") no-repeat center;
  background-size: cover;
  padding-top: 297px;
  padding-bottom: 300px;
  text-align: center;
}

.main-title,
.subtitle {
  color: #f9fafe;
}

.main-title {
  font-size: 72px;
  letter-spacing: 4.54px;
  margin-bottom: 29px;
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin-bottom: 90px;
}

.search-form {
  height: 60px;
  display: flex;
  justify-content: center;
}

.search-form__field {
  width: 569px;
  padding: 25px 30px;
  border-radius: 5px 0 0 5px;
}

.search-form__field::placeholder {
  color: #717171;
}

.search-form__btn {
  color: #ffffff;
  font-weight: 700;
  width: 200px;
  border-radius: 0 5px 5px 0;
  background-color: #e7434e;
}

.search-form__btn:hover {
  background-color: #ff4651;
}

.search-form__field,
.search-form__btn {
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 0.56px;
}

.search-form__btn i {
  margin-right: 10px;
}

/*-------- top-section styles end --------*/

/*-------- main-content styles start --------*/
/*-------- report styles start --------*/

.report {
  margin-bottom: 40px;
}

.report__list {
  box-shadow: 0 0 30px rgba(52, 52, 52, 0.15);
  border-radius: 5px;
  background-color: #ffffff;
  padding: 30px 0;
  max-width: 1200px;
  display: flex;
  transform: translateY(-50%);
  margin: 0 auto;
}

.report__item {
  border-right: 1px solid rgba(113, 113, 113, 0.3);
  padding: 10px 96px;
  text-align: center;
}

.report__item:last-child {
  border: none;
}

.report__item-number {
  color: #343434;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-bottom: 13px;
}

.report__item-text {
  color: #717171;
  font-size: 18px;
  letter-spacing: 0.36px;
}

/*-------- report styles end --------*/
/*-------- explore styles start --------*/

.explore {
  text-align: center;
  margin-bottom: 80px;
}

.section-title {
  color: #343435;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin-bottom: 30px;
}

.section-desc {
  color: #717171;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.32px;
  margin-bottom: 83px;
}

.img-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 68px;
}

.image-wrapper {
  color: #fff;
  position: relative;
  margin-bottom: 30px;
}

.image-wrapper:hover img {
  opacity: .7;
}

.icon_on-picture {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 0.64px;
  border-radius: 5px;
  background-color: #e7434e;
  position: absolute;
  top: 30px;
  left: 27px;
  padding: 12px 12px 14px 15px;
}

.image-desc {
  position: absolute;
  bottom: 27px;
  left: 28px;
  text-align: left;
}

.text_on-picture {
  font-size: 30px;
  letter-spacing: 1.2px;
  margin-bottom: 3px;
}

.subtext_on-picture {
  font-size: 20px;
  letter-spacing: 0.8px;
}

.text_on-picture,
.subtext_on-picture {
  display: block;
}

.text_on-picture:hover,
.subtext_on-picture:hover {
  color: #e7434e;
}

.view-more {
  color: #343434;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.56px;
  border-radius: 5px;
  border: 1px solid rgba(38, 38, 38, 0.3);
  padding: 24px 43px;
  display: inline-block;
}

.view-more:hover {
  background-color: rgba(157, 157, 157, 0.7);
}

/*-------- explore styles end --------*/
/*-------- advantage styles end --------*/

.advantage {
  background: url("../images/background_photo2.jpg") no-repeat center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 159px;
  text-align: center;
}

.advantage__link {
  border-radius: 5px;
  background-color: #e7434e;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.56px;
  padding: 25px 45px;
}

.advantage__link:hover {
  background-color: #ff4651;
}

/*-------- advantage styles end --------*/
/*-------- featured styles start --------*/

.featured {
  padding-top: 101px;
  padding-bottom: 87px;
  text-align: center;
}

.featured .text_on-picture {
  margin-bottom: 16px;
}

.description_on-picture {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.32px;
  color: #fff;
}

.description_on-picture a:hover {
  color: #e7434e;
}

.user-friends {
  margin-left: 30px;
}

/*-------- featured styles end --------*/
/*-------- main-content styles end --------*/

/*-------- footer styles start --------*/

.footer {
  background-color: #404040;
}

.line {
  background: url("../images/line.png");
  height: 6px;
}

.footer__wrap {
  padding-top: 56px;
  padding-bottom: 76px;
  display: flex;
  justify-content: space-between;
}

.column {
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.56px;
  width: 173px;
  padding-right: 28px;
}

.column_subscribe {
  width: 417px;
}

.column__title {
  margin-bottom: 24px;
}

.column__text {
  padding-top: 5px;
  text-align: justify;
  line-height: 34px;
}

.subscribe-form {
  height: 42px;
  display: flex;
  margin-bottom: 36px;
}

.subscribe-form__field {
  width: 270px;
  padding: 14px 22px;
  border-radius: 5px 0 0 5px;
  font-family: 'Open Sans', sans-serif;
}

.subscribe-form__field::placeholder {
  color: #717171;
}

.subscribe-form__btn {
  color: #fff;
  width: 147px;
  border-radius: 0 5px 5px 0;
  background-color: #e7434e;
}

.subscribe-form__btn:hover {
  background-color: #ff4651;
}

.subscribe-form__field,
.subscribe-form__btn {
  border: none;
  font-size: 14px;
  letter-spacing: 0.28px;
}

.social-block {
  display: flex;
}

.social-link {
  width: 44px;
  height: 44px;
  background-color: #717171;
  border-radius: 50%;
  text-align: center;
  margin-right: 20px;
}

.social-link a {
  display: block;
  line-height: 44px;
  font-size: 16px;
}

.social-link a:hover {
  color: #e7434e;
}

/*-------- footer styles end --------*/
