body {
  background: red;
}

img {
  background-color: white;
}

div {
  background-image: url("../images/sailboat1.svg");
  /* Style for "sailboat" */
  width: 16px;
  height: 16px;
  background-color: #ffffff;
}

i {
  color: #fff;
}